<div class="border-bottom">
  <app-header
    title="Op zoek naar freelance / student .NET-developer"
    parentTitle="Mijn opdrachten"
    parentRouterLink="/assignments">

    <label for="status" class="mt-4">Status</label>
    <select id="status" class="custom-select custom-select-lg mb-3">
      <option selected>Open voor inschrijvingen</option>
      <option value="1">Gesloten voor inschrijvingen</option>
    </select>

  </app-header>
</div>

<div class="container">

  <p class="my-3 text-muted small">
    <svg-icon src="../../../../assets/svg/location.svg"></svg-icon>
    Pelt
  </p>

  <ul class="list-unstyled my-3">
    <li class="rouned bg-light p-2 d-inline-block mr-2">test</li>
    <li class="rouned bg-light p-2 d-inline-block mr-2">test</li>
  </ul>

  <p class="my-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, assumenda mollitia, ipsam voluptates laudantium, aperiam ad quidem unde debitis temporibus repudiandae illo a placeat aliquam tempore reprehenderit vel architecto itaque pariatur aspernatur! Voluptas tenetur cumque corrupti neque qui aliquid libero, ex vel placeat adipisci quod aperiam impedit porro, unde nostrum!</p>

</div>
