<app-header title="Nieuwe gebruiker" parentTitle="Beheer gebruikers" parentRouterLink="/mod/users" underline="true">
  
  {{isAdmin? 'Registreer een gebruiker, het onboarden moet de gebruiker doen bij de eerste inlog.' : 'Registreer een admin account.' }}
  <div class="row">
    <div class="col-8 my-auto">
    </div>
  </div>
</app-header>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container" style="margin-bottom: 100px;">
    <div *ngIf="error" class="text-danger font-weight-bold mb-3 mb-0">{{error}}</div>
    <div class="form-group mt-3">
      <label for="userType" class="small">Soort gebruiker <span
          style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
      <div class="can-toggle can-toggle--size-large">
        <input (click)="switchUserProfile()" formControlName="userType" id="c" type="checkbox">
        <label for="c">
          <div class="can-toggle__switch w-100" data-checked="Admin" data-unchecked="Gebruiker"></div>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="name">Voornaam</label>
      <input type="text" id="name" formControlName="name" class="form-control form-control-lg text-black"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-right">
        <div *ngIf="f.name.errors.required">Wat is je voornaam?</div>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="lastname">Achternaam</label>
      <input type="text" id="lastname" formControlName="lastname" class="form-control form-control-lg text-black"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback text-right">
        <div *ngIf="f.lastname.errors.required">Wat is je achternaam?</div>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="email">E-mailadres</label>
      <input type="text" id="email" formControlName="email" class="form-control form-control-lg text-black"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-right">
        <div *ngIf="f.email.errors.email">Vul een geldig e-mailadres in</div>
        <div *ngIf="f.email.errors.required">Vul je e-mailadres in</div>
      </div>
    </div>
  </div>
  <app-footer>
    <div class="container border-top py-3">
      <div class="d-flex">
        <button type="submit" style="background: linear-gradient(45deg, #16C1E7, #1E96B0);"
          class="btn text-white border flex-grow-1 shadow-sm font-weight-bold">
          {{isAdmin? 'Registreer gebruiker': 'Registreer admin' }}  <svg-icon src="../../../../../assets/svg/profile/save.svg"></svg-icon>
        </button>
      </div>
    </div>
  </app-footer>
</form>
