<app-header [title]="application ? application.assignment.title : ''" parentTitle="Mijn inschrijvingen"
  parentRouterLink="/applications">
</app-header>

<div class="application pt-3" *ngIf="application" [class.open]="application && application.assignment.open"
  [class.selected]="application && application.contacted"
  [class.archived]="application && application.assignment.archivedAt">

  <div class="container">
    <p class="status">{{ statusDescription }}</p>
    <p class="status-description">{{ fullStatusDescription }}</p>
  </div>

  <div *ngIf="!application.contacted" class="container border-top pt-3">

    <p class="my-3 text-muted small">
      <svg-icon src="../../../../assets/svg/location.svg"></svg-icon>
      {{ application.assignment.location.city + ', ' + application.assignment.location.country }}
    </p>

    <ul class="list-unstyled my-3">
      <li class="rouned bg-light p-2 d-inline-block mr-2" *ngFor="let tag of application.assignment.requiredSkills">
        {{ tag.name }}
      </li>
    </ul>

    <p class="my-3">
      {{ application.assignment.description }}
    </p>

  </div>

  <div *ngIf="application.contacted" class="container border-top pt-3">
    <p style="font-weight: 600;">Beoordeel {{ application.assignment.createdBy.companyProfile.name}}</p>
    <app-stars (starClick)="vote($event)" vraag="Hoe fijn was je samenwerking?"></app-stars>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="w-100">
      <div *ngIf="error" class="text-danger font-weight-bold mb-3 mb-0">{{error}}</div>
      <div class="form-group">
        <label style="font-weight: 600;" class="small" for="message">Je bericht</label>
        <textarea name="message" formControlName="message" rows="4" cols="20"
          class="form-control text-black"></textarea>
      </div>
      <div class="row">
        <div class="col-6 pr-3">
          <button type="submit" class="reviewButton btn text-white border">
            Toevoegen
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
        </div>
        <div class="col-6 pl-0">
          <div class="form-group">
            <span style="font-weight: 100; font-size: 12px;">
              Review anoniem plaatsen?
            </span>
            <input formControlName="anonymous" class="tgl tgl-flip" id="cb5" type="checkbox" />
            <label class="tgl-btn" data-tg-off="Nee" data-tg-on="Ja" for="cb5"></label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer *ngIf="application && !application.contacted">
  <div class="container d-flex py-3 border-top">
    <button (click)="retract()" class="flex-grow-1 btn btn-danger" [disabled]="retracting">
      <span *ngIf="retracting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Kandidatuur intrekken
    </button>
  </div>
</app-footer>

<div *ngIf="!application" class="text-center my-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
