<a [routerLink]="routerLink"
  class="text-decoration-none text-black d-block mb-3">

  <div class="assignment-card rounded bg-light p-3"
    [class.open]="open"
    [class.selected]="contacted"
    [class.archived]="archived">
    <p class="status mb-2">
      <small> {{ statusDescription }} </small>
    </p>
    <h3 class="assignment-title">{{ title }}</h3>
    <p class="mt-1 mb-0">
      <svg-icon src="../../../../assets/svg/location.svg"></svg-icon>
      {{ location }}
    </p>
  </div>

</a>
