<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="logo" class="text-center mt-3">Tinket</h1>
    </div>
  </div>
  <app-popup [open]="true">
    <div class="d-flex justify-content-around">
      <div class="flew-grow w-100" (click)="nextStep()">
        <img *ngIf="stepTwo" class="backArrow" src="../../../../assets/svg/Arrow.svg" alt="Pijltje">
      </div>
      <div class="flex-grow w-100">
        <h3 class="text-center" style="line-height: .6;">Profiel
          <span *ngIf="isMaker" style="font-size: 16px;">{{ stepTwo? '(2/2)' : '(1/2)' }}</span> <br>
          <span style="font-size: 12px;">{{ stepTwo? 'Interesses' : 'Meer info' }}</span>
        </h3>
      </div>
      <div class="flew-grow w-100"></div>
    </div>
    <br>
    <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="!stepTwo">
        <div class="form-group">
          <label for="userType" class="small">Soort gebruiker <span
              style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
          <div class="can-toggle can-toggle--size-large">
            <input (click)="switchUserProfile()" formControlName="userType" id="c" type="checkbox">
            <label for="c">
              <div class="can-toggle__switch w-100" data-checked="Bedrijf" data-unchecked="Maker"></div>
            </label>
          </div>
          <label class="small" for="username">{{ isMaker? 'Gebruikersnaam' : 'Bedrijfsnaam' }} <span
              style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
          <input type="text" formControlName="username" class="form-control text-black"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-right">
            <div *ngIf="f.username.errors.required">Vul een gebruikersnaam in</div>
          </div>
        </div>
        <div class="form-group" *ngIf="isMaker">
          <label class="small" for="date">Geboortedatum <span
              style="font-size: 10px; opacity: 75%;">(verplicht)</span></label>
          <input type="date" formControlName="geboorteDatum" class="form-control text-black"
            [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
          <div *ngIf="submitted && f.date.errors" class="invalid-feedback text-right">
            <div *ngIf="f.date.errors.required">Selecteer een geboortedatum</div>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="mobile">Telefoonnummer</label>
          <input type="text" formControlName="mobile" class="form-control text-black" />
        </div>
        <div class="form-group">
          <label for="location" class="small">Adres</label>
          <input type="text" placeholder="Stad" formControlName="city" class="form-control text-black mt-1" />
          <input type="text" placeholder="Postcode" formControlName="postalCode" class="form-control text-black mt-1" />
          <input type="text" placeholder="Land" formControlName="country" class="form-control text-black" />
        </div>
        <div class="form-group">
          <label class="small" for="bio">{{isMaker? 'Bio' : 'Beschrijving'}}</label>
          <textarea name="message" formControlName="bio" rows="4" cols="20" class="form-control text-black"></textarea>
        </div>
        <div class="form-group" *ngIf="isMaker">
          <label class="small" for="experience">Ervaring</label>
          <textarea name="message" formControlName="experience" rows="4" cols="20"
            class="form-control text-black"></textarea>
        </div>
        <div class="text-center mt-5">
          <div *ngIf="error" class="text-danger font-weight-bold mb-3 mt-0">{{error}}</div>
          <button *ngIf="isMaker" type="button" (click)="nextStep()" id="nextButton" class="btn-lg">
            Volgende
          </button>
          <button *ngIf="!isMaker" type="submit" id="nextButton" class="btn-lg">
            Klaar
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="stepTwo">
        <div class="row">
          <div class="col-sm-12">
            <div class="skills">
              <ng-container *ngFor="let skill of skills">
                <button (click)="toggleSkill(skill)" type="button" class="skill btn">
                  <img *ngIf="selectedSkills.includes(skill._id)"
                    style="position: absolute; right: 5px; top: 5px; z-index: 2;" src="../../../../assets/svg/check.svg"
                    alt="check">
                  <p class="mt-4" style="position: absolute;
                  margin-left: auto;
                  margin-right: auto;
                  left: 0;
                  right: 0; z-index: 1;">
                    {{skill.name}}
                  </p>
                  <img
                    style="position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0; border-radius: 4px;"
                    src="{{skill.url}}" alt="{{skill.name}}">
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row my-5">
          <button [disabled]="loading && submitted" type="submit" id="nextButton" class="btn-lg">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Klaar
          </button>
        </div>
      </ng-container>
    </form>
  </app-popup>
</div>
