.container {
  background: linear-gradient(-180deg, rgba(3,148,181,1) 0%, rgba(3,137,167,1) 11%, rgba(4,108,131,1) 46%, rgba(5,98,118,1) 73%, rgba(5,98,118,1) 100%);
  color: white;
  height: 100vh;
  z-index: -1;
}

app-popup{
  transition:width 1s ease-in-out;
}

.calendar {
  background-image: url("../../../../assets/svg/calendar.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#nextButton {
  background: linear-gradient(-90deg, #16C1E7, #1E96B0);
  border: none;
  color: white;
  width: 100%;
}

.backArrow {
  transform: rotate(-180deg);
  margin-top: 7px;
  margin-left: 10px;
  animation: enterScreen .2s;
}

@keyframes enterScreen {
  from {
    transform: translateX(-50px) rotate(-180deg);
  }

  to {
    transform: translateX(0px) rotate(-180deg);
  }
}

.skills {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.skill {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 100%;
  border: none;
  padding-bottom: 100%;
  content: '';
  height: 0;
  position: relative;
}