<app-header
  title="Mijn inschrijvingen">
  Wanneer je hebt aangegeven dat je interesse hebt in een opdracht, kan je hier de status opvolgen.
</app-header>

<div class="container border-top mt-4 pt-4">
  <ng-template [ngIf]="applications">
    <app-application-card *ngFor="let application of applications"
      [title]="application.assignment.title"
      [location]="application.assignment.location.city + ', ' + application.assignment.location.country"
      [routerLink]="'/application/' + application._id"
      [selected]="application.selected"
      [open]="application.assignment.open"
      [archived]="application.assignment.archivedAt">
      </app-application-card>

      <div *ngIf="applications.length <= 0" class="empty-state text-center mt-5">
        <svg-icon src="../../../../assets/svg/menu/applications.svg"></svg-icon>

        <p class="h4 text-muted text-center mt-3">
          Je hebt je nog niet ingeschreven voor een opdracht.
        </p>
      </div>
  </ng-template>

  <div *ngIf="!applications" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
