<div class="border-bottom">
  <app-header
    title="Nieuwe opdracht"
    parentTitle="Mijn opdrachten"
    parentRouterLink="/assignments">
  </app-header>
</div>

<div class="container pt-4">

  <form [formGroup]="newAssignmentForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="small" for="title">Titel van de opdracht</label>
      <input type="text" formControlName="title" class="form-control form-control-lg text-black" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
      <div *ngIf="submitted && f.title.errors" class="invalid-feedback text-right">
        <div *ngIf="f.title.errors.required">Vul een titel in</div>
      </div>
    </div>

    <div class="form-group">
      <label class="small" for="description">Omschrijving</label>
      <input type="text" formControlName="description" class="form-control form-control-lg text-black" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback text-right">
        <div *ngIf="f.description.errors.required">Vul een omschrijving in</div>
      </div>
    </div>

  </form>

</div>
