<app-header underline="true" title="Opdrachten">
  <form [formGroup]="inputForm">
    <div class="form-group">
      <div class="can-toggle can-toggle--size-large">
        <input (click)="switchReviewType()" formControlName="reviewType" id="c" type="checkbox">
        <label for="c">
          <div class="can-toggle__switch w-100" data-checked="Goedgekeurd" data-unchecked="Nieuw"></div>
        </label>
      </div>
    </div>
  </form>
</app-header>

<div *ngIf="typeReview" class="container mt-3">
  <ng-container *ngFor="let assignment of flaggedAssignments">
    <app-application-card [routerLink]="'/mod/assignments/' + assignment._id" routerLinkActive="router-link-active"
      [open]="assignment.open" [title]="assignment.title"
      [location]="assignment.location.city + ', ' + assignment.location.country">
    </app-application-card>
  </ng-container>
</div>


<div *ngIf="!typeReview" class="container mt-3">
  <ng-container *ngFor="let assignment of solvedAssignments">
    <app-application-card [routerLink]="'/mod/assignments/' + assignment._id" routerLinkActive="router-link-active"
      [open]="assignment.open" [title]="assignment.title"
      [location]="assignment.location.city + ', ' + assignment.location.country">
    </app-application-card>
  </ng-container>
</div>


<app-footer *ngIf="!typeReview">
  <div class="container border-top py-3">
    <div class="d-flex">
      <a routerLink="ignored" class="btn btn-white border flex-grow-1 shadow-sm font-weight-bold">
        Toon afgekeurde opdrachten <svg-icon src="../../../../../assets/svg/forward.svg"></svg-icon>
      </a>
    </div>
  </div>
</app-footer>
