<app-header title="Mijn reviews">
  Reviews zijn publiek, maar annoniem naar keuze. Alleen {{ isMaker? 'bedrijven': 'makers'}} die eerder met je gewerkt
  hebben kunnen nieuwe reviews
  plaatsen.
</app-header>
<app-stars vraag="Je gemiddelde score" underline="true" clickAble="false" [rating]="avarageScore"></app-stars>

<div class="container mt-5 mb-5">
  <ng-container *ngFor="let review of reviews">
    <app-reviewbox score="{{review.score}}" userName="{{review.anonymous ? 'Anoniem' : review.reviewedBy.firstname}}"
      description="{{review.description}}">
    </app-reviewbox>
  </ng-container>
</div>
