<app-header title="Mijn reviews">
  Reviews zijn publiek, maar annoniem naar keuze. Alleen {{ isMaker? 'makers': 'bedrijven'}} die eerder met je gewerkt hebben kunnen nieuwe reviews
  plaatsen.
</app-header>

<app-stars vraag="Je gemiddelde score" underline="true" clickAble="false" [ratingValue]=gemiddeldeScore>
</app-stars>

<div class="container mt-5 mb-5">
  <app-reviewbox score="3" userName="Anoniem" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate facilis assumenda esse. Dolores expedita veritatis voluptatibus magnam. Repudiandae mollitia vel earum aspernatur laboriosam nobis aperiam officia quis vero esse!"></app-reviewbox>
  <app-reviewbox score="5" userName="Lenny" description="Repudiandae mollitia vel earum aspernatur laboriosam nobis aperiam officia quis vero esse!"></app-reviewbox>
</div>
