<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 id="logo" class="text-center mt-3">Tinket</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="homeImage">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="ml-4 homeTekst">Laten we<br/>samenwerken</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button (click)="Register()" id="RegistrerButton" type="button" class="btn btn-primary btn-lg">Registreren</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button (click)="Login()" id="LoginButton" type="button" class="btn btn-primary btn-lg">Login</button>
        </div>
    </div>
</div>

