<app-header underline="true" title="Gebruikers">
  <label for="naam">Zoeken</label>
  <input [(ngModel)]="searchText" type="text" class="form-control form-control-lg text-black">
</app-header>

<div class="container">
  <ng-container *ngFor="let user of users | filter : searchText">
    <a (click)="goToProfile(user._id)" class="py-3 px-0 border-bottom position-relative d-block">
      <div class="row">
        <div class="col-2">
          <img class="rounded-circle" [src]="'https://api.adorable.io/avatars/25/' + user._id" alt="avatar">
        </div>
        <div class="col-10">
          <p class="m-0"> {{ !user.representsCompany ? user.firstname + ' ' + user.lastname : user.companyProfile.name }} </p>
          <p class="m-0 small" *ngIf="user.makerProfile || user.companyProfile">
            {{ user.makerProfile ? calculateAge(user.makerProfile.dateOfBirth): 'Bedrijf, '}}
            {{
              user.makerProfile ? user.makerProfile.location.city == ''
                  ? 'Geen locatie' : user.makerProfile.location.city
                  : user.companyProfile.location.city ==''? 'Geen locatie' : user.companyProfile.location.city
            }}
          </p>
          <p class="m-0 small" *ngIf="!user.makerProfile && !user.companyProfile">
            Incompleet profiel
          </p>
        </div>
      </div>
    </a>
  </ng-container>
</div>
