.assignment-title {
  font-size: 1.1em;
}

.assignment-card {
  border-top: 4px solid #D38B49;

  .status {
    color: #D38B49;
  }

  &.open {
    border-top-color: #6ADA9E;
    .status {
      color: #27AE65;
    }
  }

  &.archived {
    border-top-color: #DEE7ED;
    .status {
      color: #000;
    }
  }
}
