#reviewBox {
  background-color: #F3F7FA;
  border-radius: 10px;
  padding: 20px 20px;
  position: relative;
  height: 200px;
}

.delete {
  background-color: #FCE9E9;
  border-radius: 100%;
  width: fit-content;
  padding: 10px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.reset {
  background-color: #E3F0E9;
  border-radius: 100%;
  width: fit-content;
  padding: 10px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
