#discover {

  header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    #logo {
      color:white;
      text-shadow: 0px 0px 50px rgb(0, 0, 0);
    }
  }

  .discover-nav {
    position: fixed;
    z-index: 20;
    top: 40%;
    background:white;
    border: 0;
    width: 45px;
    height: 110px;

    &.discover-nav--prev {
      left:0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    &.discover-nav--next {
      right:0;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  }

  .video-container {
    background: black;
    transform: translateY(-5px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      max-width: 100%;;
      width: auto !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }

  .content {
    bottom: 0;
    left: 0;
    height: calc(280px + 55px);
    padding-top: 55px;
    transition: backdrop-filter 0.5s ease, height 0.1s cubic-bezier(0, 0, 0.6, 1.0);
    overflow-y: hidden;

    &.full-height {
      height: calc(100%);
      backdrop-filter: saturate(180%) blur(20px);

      .detail {
        overflow-y: auto !important;
      }
    }

    .player-controls {
      text-align: right;

      .player-button {
        background: transparent;
        border: 0;
        fill:white;

        svg {
          width:30px;
          height:30px;
          filter: drop-shadow( 0 0 10px rgb(0, 0, 0));
        }
      }
    }

    .swipe-up {
      color: rgba(255, 255, 255, 0.705);
      text-shadow: 0px 0px 50px rgb(0, 0, 0);
      svg {
        animation: bounce-up .8s ease infinite alternate;
      }
    }

    .detail {
      padding: 40px 0;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      height: 100%;

      h2 {
        font-size: 1.3em;
      }
    }
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-4px);
  }
}
