<app-header *ngIf="selectedUser" [title]="selectedUser.firstname + ' ' +  selectedUser.lastname" underline="true"
  parentTitle="Beheer gebruikers" [parentRouterLink]="'/mod/users/' + selectedUser._id">
  Alle geschreven reviews van de geselecteerde gebruiker.
</app-header>
<div *ngIf="selectedUser" style="padding: 10px 0; margin-top: 15px; margin-bottom: 100px;">
  <div *ngIf="reviews" class="container">
    <ng-container *ngFor="let review of reviews">
      <app-reviewbox (deleteClicked)="onDelete($event)" [reviewId]="review._id" deleteButton="true"
        score="{{review.score}}"
        userName="{{review.creator.anonymous ? 'Anoniem' : review.creator.user.firstname + ' ' + review.creator.user.lastname }}"
        description="{{review.description}}">
      </app-reviewbox>
    </ng-container>

    <div *ngIf="reviews.length == 0" class="h4 text-weight-normal text-center text-black-50 my-5" role="alert">
      <img class="img-fluid mx-auto d-block mb-3" style="max-width:120px;" src="../../../../../assets/svg/no-data.svg"
        alt="Geen gegevens!">
      <small> {{ selectedUser.firstname }} heeft nog geen reviews geschreven! </small>
    </div>
  </div>
</div>
