<app-header
  title="Mijn opdrachten">
  Beheer de opdrachten die jouw bedrijf op Tinket wilt delen met makers.
</app-header>

<div class="container">

  <app-assignment-card *ngFor="let assignment of visibleAssignments"
    [title]="assignment.title"
    [location]="assignment.location.city + ', ' + assignment.location.country"
    [routerLink]="'/assignments/' + assignment._id"
    [open]="assignment.open"
    [archived]="false">
  </app-assignment-card>

  <div *ngIf="archivedAssignments.length > 0">
    <hr class="mt-5">
    <h3 class="small text-muted text-uppercase text-center mb-4">Gearchiveerd</h3>
  </div>

  <app-assignment-card *ngFor="let assignment of archivedAssignments"
    [title]="assignment.title"
    [location]="assignment.location.city + ', ' + assignment.location.country"
    [routerLink]="'/assignments/' + assignment._id"
    [open]="assignment.open"
    [archived]="true">
  </app-assignment-card>

  <div style="height: 200px;"></div>

</div>

<app-footer>
  <div class="container text-right py-3 border-top">
    <button class="btn btn-primary" routerLink="new">Nieuw</button>
  </div>
</app-footer>
