@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import './styles/variables';
@import "../node_modules/bootstrap/scss/bootstrap";

#app {
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;

  #outlet {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

a, button {
  cursor: pointer;
}

#logo{
    font-family: 'Gochi Hand', cursive;
}

