button{
    border: 1px solid #B3D3DA;
}

  #submitButton{
    background: linear-gradient(-45deg, #16C1E7, #1E96B0);
    border: none;
    color: white;
    width: 100%;
  }

  #logoutButton{
    background: linear-gradient(-90deg, #E7167A, #B01E1E);
    border: none;
    color: white;
    width: 100%;
  }

  #passwordButton{
    background: linear-gradient(-150deg, #252525, #625C5C);
    border: none;
    color: white;
    width: 100%;
  }
