<div [ngClass]="{'starContainer': underline}">
  <div class="row ">
    <span class="mx-auto" style="font-size: 12px; font-weight: 600;" *ngIf="vraag">{{ vraag }}</span>
  </div>
  <div class="row justify-content-center">
    <fieldset class="rating ">
      <input type="radio" value="5" [checked]="rating===5" />
      <label title="Geweldig" (click)='onClick(5)'>5 stars</label>

      <input type="radio" value="4" [checked]="rating===4" />
      <label title="Best goed" (click)='onClick(4)'>4 stars</label>

      <input type="radio" value="3" [checked]="rating===3" />
      <label title="Goed" (click)='onClick(3)'>3 stars</label>

      <input type="radio" value="2" [checked]="rating===2" />
      <label title="Niet zo best" (click)='onClick(2)'>2 stars</label>

      <input type="radio" value="1" [checked]="rating===1" />
      <label title="Niet voor herhaling vatbaar" (click)='onClick(1)'>1 star</label>
    </fieldset>
  </div>
</div>
