<app-header title="Login" parentTitle="Home" parentRouterLink="/">
Log in met uw e-mailadres en wachtwoord. Als u nog geen account heeft kunt u uzelf registreren.
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="error" class="text-danger font-weight-bold mb-3 mb-0">{{error}}</div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="small" for="email">E-mailadres</label>
          <div class="input-group">
            <input type="text" formControlName="email" class="form-control form-control-lg text-black"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-right">
              <div *ngIf="f.email.errors.email">Vul een geldig e-mailadres in</div>
              <div *ngIf="f.email.errors.required">Vul je e-mailadres in</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="small" for="password">Wachtwoord</label>
          <input type="password" formControlName="password" class="form-control form-control-lg text-black"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-right">
            <div *ngIf="f.password.errors.required">Vul je wachtwoord in</div>
          </div>
        </div>
        <div class="text-center mt-5">
          <button [disabled]="loading && submitted" type="submit" id="loginKnop" class="btn-lg">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
