<app-header parentTitle="Je profiel" title="Wijzig wachtwoord" parentRouterLink="/profile">
  Geef eerst je oude wachtwoord op, om een nieuwe aan te maken.
  Na het wijzigen wordt je uitgelogd op al uw apparaten.
</app-header>

<div class="container">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="w-100">
    <div *ngIf="error" class="text-danger font-weight-bold mb-3 mb-0">{{error}}</div>
    <div class="form-group">
      <label class="small" for="oldpassword">Je huidige wachtwoord</label>
      <input placeholder="Oud wachtwoord" type="password" id="oldpassword" formControlName="oldpassword"
        class="form-control text-black" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
      <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback text-right">
        <div *ngIf="f.oldpassword.errors.required">Vul uw oude wachtwoord in!</div>
      </div>
    </div>
    <div class="form-group">
      <label class="small" for="password">Kies een nieuw wachtwoord</label>
      <input type="password" id="password" placeholder="Nieuw wachtwoord" formControlName="password"
        class="form-control text-black" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <input type="password" id="confirmPassword" placeholder="Herhaal nieuw wachtwoord"
        formControlName="confirmPassword" class="form-control text-black mt-1"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback text-right">
        <div *ngIf="f.confirmPassword.errors.required">Vul uw nieuw wachtwoord in!</div>
      </div>
    </div>
    <button [disabled]="loading && submitted" type="submit" id="submitButton" class="btn">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Opslaan <img src="../../../../assets/svg/profile/save.svg" alt="save">
    </button>
  </form>
</div>
